  @font-face {
    font-family: "scoreDream";
    font-weight: 100;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream1-thin.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream1-thin.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream1-thin.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream1-thin.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream1-thin.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 200;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream2-ExtraLight.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream2-ExtraLight.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream2-ExtraLight.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream2-ExtraLight.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream2-ExtraLight.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream3-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream3-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream3-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream3-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream3-Light.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream4-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream4-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream4-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream4-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream4-Regular.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream5-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream5-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream5-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream5-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream5-Medium.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 600;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream6-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream6-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream6-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream6-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream6-Bold.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefont/scoreDream/scoreDream7-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefont/scoreDream/scoreDream7-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefont/scoreDream/scoreDream7-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefont/scoreDream/scoreDream7-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefont/scoreDream/scoreDream7-ExtraBold.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream-Heavy.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream-Heavy.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream-Heavy.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream-Heavy.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream-Heavy.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "scoreDream";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream9-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream9-Black.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream9-Black.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream9-Black.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/scoreDream/scoreDream9-Black.otf") format("truetype");
    font-display: swap;
}

.scoreDream {
    font-family: "scoreDream";
}
.scoreDream100 {
    font-family: "scoreDream";
    font-weight: 100;
}
.scoreDream200 {
    font-family: "scoreDream";
    font-weight: 200;
}
.scoreDream300 {
    font-family: "scoreDream";
    font-weight: 300;
}
.scoreDream400 {
    font-family: "scoreDream";
    font-weight: 400;
}
.scoreDream500 {
    font-family: "scoreDream";
    font-weight: 500;
}
.scoreDream600 {
    font-family: "scoreDream";
    font-weight: 600;
}
.scoreDream700 {
    font-family: "scoreDream";
    font-weight: 700;
}
.scoreDream800 {
    font-family: "scoreDream";
    font-weight: 800;
}
.scoreDream900 {
    font-family: "scoreDream";
    font-weight: 900;
}
